body{
    background-color: rgb(194, 228, 240);
}


div{
text-align: center;
border-radius: 15%;
}


h1{
text-align: center; 
text-decoration: underline;  
font-weight:600;
font-family: Playfair Display, 'Times New Roman', Times, serif;
background-color: beige;
}


.MSJ{
text-align: center;
background-color: beige; 
font-family: Playfair Display, 'Times New Roman', Times, serif; 
}

.h2{
display: flex; 
align-content: space-between;   
}

.p{
text-align: center;    
}

h3{
text-size-adjust: 16px;
text-align: center    
}

h4{
text-align: center; 
text-size-adjust: 16px;

}

















 
